recursive-include curibio *
include LICENSE
include mypy.ini
include *rst
include *py
include *.txt
include .codenotary
include .flake8
include src/pylintrc
global-exclude docs *
global-exclude pytest.ini
global-exclude tests *.h5
global-exclude tests *.py
global-exclude *.yaml
global-exclude tests/pylintrc
global-exclude *.pyc